extends layout

block content
    <div class='container'>
        <table class='table'>
            <th> Name </th>
            <th> Short name </th>
            <th> Description </th>
            <th> Phone number </th>
            for faculty in faculties
                - var id = faculty.id
                <tr> 
                    <td> <a href = "faculties/#{id}"> #{faculty.name} </a>
                    <td> #{faculty.short_name} </td>
                    <td> #{faculty.info_faculty.description} </td>
                    <td> #{faculty.info_faculty.phone_number} </td>
                </th>
        </table>
    </div>