extends layout

block content
  table.table
    tr 
      td Name
      td #{user.user_info.lastName} #{user.user_info.firstName} #{user.user_info.middleName}
    tr 
      td Login
      td #{user.login}
    tr
      td Email
      td #{user.user_info.email}
    tr
      td Sex
      td 
        if user.user_info.sex == 'm'
          span male
        else 
          span female
    tr
      td Birthday
      td #{user.user_info.birthday}
    tr  
      td City
      td #{user.user_info.city}
    tr
      td Address
      td #{user.user_info.address}
    tr
      td Phone
      td 
        for phone in user.phones
          span #{phone.phone}, 

  div(style="position: relative;")
    if currentUser.id == user.id
      a.btn.btn-outline-warning.active(style="float:left; margin:0 10px;" href="/users/" + user.id + "/edit" role="button" aria-pressed="true") Edit
    
    form.form-inline.my-2.my-lg-0(style="float:left; margin:0 10px;"  method='POST' action='/users/' + user.id +'/delete')
      button.btn.btn-danger.my-2.my-sm-0(type="submit") Delete
      
    a.btn.btn-primary.active(style="float:left; margin:0 10px;" href="/users" role="button" aria-pressed="true") Back